# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.sh]
# like -i=4
indent_style = space
indent_size = 4
shell_variant = bash      # like -ln=bash
binary_next_line = true   # like -bn
switch_case_indent = true # like -ci
space_redirects = true    # like -sr
keep_padding = true       # like -kp
function_next_line = true # like -fn
